include LICENSE
include MANIFEST.in
include README.rst
include run.py
include samuel.desktop
include samuel.png
include setup.py
include data/2pc.cdb
include data/3pc.cdb
include data/4pc.cdb
include data/opening.gbk
include engine/ai.cpp
include engine/ai.hh
include engine/board.cpp
include engine/database.cpp
include engine/enginemodule.cpp
include engine/movegen.cpp
include engine/obook.cpp
include engine/utils/genalldatabases.cpp
include images/Bsquare.png
include images/Rcheck.png
include images/RcheckDnD.png
include images/Rchecksel.png
include images/Rking.png
include images/RkingDnD.png
include images/Rkingsel.png
include images/Wcheck.png
include images/WcheckDnD.png
include images/Wchecksel.png
include images/Wking.png
include images/WkingDnD.png
include images/Wkingsel.png
include images/Wsquare.png
include images/logo.png
include samuel/__init__.py
include samuel/board.py
include samuel/constants.py
include samuel/gui.py
include samuel/samuel.py
include scripts/samuel
include po/de.po
include po/en.po
include po/es.po
include po/fr.po
include po/it.po
include po/Makefile
include po/Makevars
include po/nl.po
include po/samuel.pot
include locale/de/LC_MESSAGES/samuel.mo
include locale/en/LC_MESSAGES/samuel.mo
include locale/es/LC_MESSAGES/samuel.mo
include locale/fr/LC_MESSAGES/samuel.mo
include locale/it/LC_MESSAGES/samuel.mo
include locale/nl/LC_MESSAGES/samuel.mo
include create_po.sh
