[Desktop Entry]
Type=Application
Name=Samuel
Comment[fr]=Samuel est un programme pour le bureau Gnome
Comment=Samuel is a draughts program for the Gnome desktop
GenericName[fr]=Jeu de dames
GenericName=Draughts Game
Icon=samuel.png
Exec=samuel
Terminal=false
Categories=GNOME;Game;BoardGame;
